body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Montserrat Subrayada','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Montserrat Subrayada', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  object-fit: cover;
    font-family: "object-fit: cover;";
    visibility: visible;
  
}
h1{
  color:black;
}

 html, body, #root, .App {
  height: 100%;
} 
a {
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat Subrayada', sans-serif;
}
