.icon {
    width: 2em;
    height: 2em;
    margin: .25em;
    text-decoration: none;
}

.icon:hover {
    width: 2em;
    height: 2em;
}

.navbar-container {
    /* font-family: 'Open Sans Condensed'; */
    
    color: black;
    width: 100%;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* background-image: url(');
    background-repeat: repeat; */
    -webkit-background-clip: content-box;
    background-clip: content-box;
    animation: animate 30s ease-in-out infinite;
    /* padding-left: 2.5em; */
    /* width: 100%; */
}

.nav-links-container {
    margin: 5px 8px 5px 8px;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    font-weight: 300;
}

Link{
    font-weight: 200;
    font-size: 1.5em;
}

* {
    
 font-family: 'Open Sans Condensed'; 
    box-sizing: border-box;
    font-style: inherit;
}

.logo-container {
    margin-left: 2em;
    font-style: bold;
}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #c49474;
        width: 100%;
    }
}

h1{
    font-size: 1.5em;
}